$asu-gold: #ffb204;
$asu-dark-bg: #353535;
$asu-maroon: #c13657;

.text-gold {
  color: $asu-gold !important;
}

.text-maroon {
  color: $asu-maroon !important;
}

.text-red {
  color: #ff003d !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-maroon {
  background-color: $asu-maroon;
}

.asu-primary-button {
  background-color: $asu-maroon;
  outline: none;
  border: 1px solid $asu-maroon;

  &:hover {
    background-color: #cc214a;
    border: 1px solid #cc214a;
  }
}

.display-font {
  font-family: "Noto Sans", sans-serif, roboto;
}

.ef-calendar {
  transition: all 0.5s ease;
  height: 0px;
  width: 0px;
  right: 0;
  bottom: 0;
  background: white;
  .ef-calendar-container {
    position: relative;
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    background: #838384;
    color: black;
  }
  &.show {
    width: 430px;
    height: 428px;
  }
}

.ef-calendar-icon {
  right: 10px;
}

.ef-assistive-icon {
  left: 10px;
}

.ef-assistive-icon,
.ef-calendar-icon {
  bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.ef-assistive-drawer {
  transition: height 0.5s ease;
  height: 0;
  width: 146px;
  left: 10px;
  bottom: 76px;
  overflow: hidden;
  background: white;
  border: 0px solid #000;
  .ef-calendar-container {
    position: relative;
  }
  &.show {
    height: 100px;
    border: 1px solid #000;
  }
}