$asu-gold: #ffb204;
$asu-dark-bg: #353535;
$asu-maroon: #c13657;

html {
  font-size: 100%;
}

.pa-0 {
  font-size: 0.5rem;
}

.pa-1 {
  font-size: 1rem;
}

.pa-2 {
  font-size: 1.5rem;
}

.pa-3 {
  font-size: 2rem;
}

.pa-4 {
  font-size: 2.5rem;
}
.pa-5 {
  font-size: 3rem;
}

.container-fluid {
    max-width: 1600px;
}

.text-gold {
  color: $asu-gold !important;
}

.text-maroon {
  color: $asu-maroon !important;
}

.text-red {
  color: #ff003d !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-maroon {
  background-color: $asu-maroon;
}

.asu-primary-button {
  background-color: $asu-maroon;
  outline: none;
  border: 1px solid $asu-maroon;

  &:hover {
    background-color: #cc214a;
    border: 1px solid #cc214a;
  }
}

.display-font {
  font-family: "Noto Sans", sans-serif, roboto;
}

.ef-calendar {
  transition: all 0.5s ease;
  height: 0px;
  width: 0px;
  right: 10px;
  bottom: 78px;
  overflow: hidden;
  background: white;
  .ef-calendar-container {
    position: relative;
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    background: #838384;
    color: black;
  }
  &.show {
    width: 430px;
    height: 428px;
  }
}

.ef-calendar-icon {
  right: 10px;
}

.ef-assistive-icon {
  left: 10px;
}

.ef-assistive-icon,
.ef-calendar-icon {
  button {
    font-size: 16px;
  }
  bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}


.ef-assistive-drawer {
  transition: height 0.5s ease;
  height: 0;
  width: 220px;
  left: 10px;
  bottom: 76px;
  overflow: hidden;
  background: white;
  border: 0px solid #000;
  font-size: 16px;
  .ef-assistive-drawer-list {
    position: relative;
    h5 {
      font-size: 20px;
    }
    .list-group-item {
      padding: 12px 16px;
      .list-group-item-title {
        margin-bottom: 6px;
      }
    }
  }
  &.show {
    height: 350px;
    border: 1px solid #000;
  }
}
