.testimonial {
	color:white;
	max-width: 336px;
	margin-left: auto;
}

.resources {
	color:white;
	max-width:336px;
	height:325px;
	margin-left:20px;
	margin-right:auto;
}

.h3 {
	font-weight: bold;
	font-size:2rem;
	color:white;
}

.btn1 {
	align-content:center;
}

.logo {
    width: 120px; 
    height: 111px;
}

.p2 {
	 width:165px;
	 color:white;
}

.p1 {
	font-size:2rem;
	color:white;
}

.a {
	color:#FFDAB9;
}

.col2{
	background-color: #AC5A4F;
	width:336px;
	height:325px;
}
