.home-bg {
  background: url(../images/home-bg-5.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 520px;
  background-color: #413c38;
  position: relative;
  box-shadow: 1px -2px 14px -2px #000 inset;
  .jumbotron {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .jumbotron-content {
    max-width: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }

}

.home-cards-container {
  box-shadow: 0px 7px 17px -10px #000 inset;
  background-color: #413c38;
  .card {
    .card-text {
      height: 120px;
    }
  }
}

.footer {
  background-color: #413c38;
}

.role-selection-container {
  background-color: white;
}
.role-selection {
  display: none;
}
