.home-bg {
  min-height: 650px;
  background-color: #000000;
  position: relative;
  .jumbotron-fluid {
    background-image: url(../images/stephen-hawking-6.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    max-width: 1522px;
  }
  .jumbotron {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .jumbotron-content {
    max-width: 60%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }

}

.home-cards-container {
  box-shadow: 0px 7px 17px -10px #000 inset;
  background-color: #000;
  .card {
    .card-text {
      min-height: 120px;
    }
  }
}

.footer {
  background-color: #fff;
}

.role-selection-container {
  background-color: white;
}

.role-selection {
  display: none;
}
