.ef-nav {
  background-color: white;

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #656565;
        font-size: 1.2rem;
      }

      &.active,
      &:hover {
        background-color: #eaeaea;

        .nav-link {
          color: black;
        }
      }
    }

    .dropdown-menu {
      background-color: white;

      .dropdown-item {
        color: #656565;
        font-size: 1.2rem;

        &.active,
        &:hover {
          background-color: #eaeaea;
          color: black;
        }
      }

      &.show {
        &:before {
          content: '';
          display: inline-block;
          height: 0;
          width: 0;
          position: absolute;
          right: 50%;
          margin-right: -5px;
          top: -9px;
          border-color: transparent transparent #1a1a1a transparent;
          border-width: 0 10px 10px 10px;
          border-style: solid;
        }
      }
    }
  }
}
