#state-agencies {
  .jumbotron {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .jumbotron-content {
    max-width: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }

  .accordion {
    background-color:white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.25rem;
    transition: 0.4s;
  }

  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 18px;
  }
  .active, .accordion:hover {
    background-color: #eaeaea;
  }
  .p {
    font-weight: bold;
    font-size: 2rem;
    color: #000000;
  }
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .card-text {

  font-size:1.25rem;
  text-align: center;
  }

  .bg3 {
    background-color: #413c38;
  }
}
