html {
  font-size: 100%; }

.text-gold {
  color: #ffb204 !important; }

.text-maroon {
  color: #c13657 !important; }

.text-red {
  color: #ff003d !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-maroon {
  background-color: #c13657; }

.asu-primary-button {
  background-color: #c13657;
  outline: none;
  border: 1px solid #c13657; }
  .asu-primary-button:hover {
    background-color: #cc214a;
    border: 1px solid #cc214a; }

.display-font {
  font-family: "Noto Sans", sans-serif, roboto; }

.ef-calendar {
  transition: all 0.5s ease;
  height: 0px;
  width: 0px;
  right: 10px;
  bottom: 78px;
  overflow: hidden;
  background: white; }
  .ef-calendar .ef-calendar-container {
    position: relative; }
  .ef-calendar .close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    background: #838384;
    color: black; }
  .ef-calendar.show {
    width: 430px;
    height: 428px; }

.ef-calendar-icon {
  right: 10px; }

.ef-assistive-icon {
  left: 10px; }

.ef-assistive-icon,
.ef-calendar-icon {
  bottom: 10px;
  border-radius: 5px;
  overflow: hidden; }
  .ef-assistive-icon button,
  .ef-calendar-icon button {
    font-size: 16px; }

.ef-assistive-drawer {
  transition: height 0.5s ease;
  height: 0;
  width: 146px;
  left: 10px;
  bottom: 76px;
  overflow: hidden;
  background: white;
  border: 0px solid #000;
  font-size: 16px; }
  .ef-assistive-drawer .ef-calendar-container {
    position: relative; }
  .ef-assistive-drawer.show {
    height: 200px;
    border: 1px solid #000; }

.ef-nav {
  background-color: white; }
  .ef-nav .navbar-nav .nav-item .nav-link {
    color: #656565;
    font-size: 1.2rem; }
  .ef-nav .navbar-nav .nav-item.active, .ef-nav .navbar-nav .nav-item:hover {
    background-color: #eaeaea; }
    .ef-nav .navbar-nav .nav-item.active .nav-link, .ef-nav .navbar-nav .nav-item:hover .nav-link {
      color: black; }
  .ef-nav .navbar-nav .dropdown-menu {
    background-color: white; }
    .ef-nav .navbar-nav .dropdown-menu .dropdown-item {
      color: #656565;
      font-size: 1.2rem; }
      .ef-nav .navbar-nav .dropdown-menu .dropdown-item.active, .ef-nav .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: #eaeaea;
        color: black; }
    .ef-nav .navbar-nav .dropdown-menu.show:before {
      content: '';
      display: inline-block;
      height: 0;
      width: 0;
      position: absolute;
      right: 50%;
      margin-right: -5px;
      top: -9px;
      border-color: transparent transparent #1a1a1a transparent;
      border-width: 0 10px 10px 10px;
      border-style: solid; }

.home-bg {
  background: url(../images/home-bg-5.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 420px;
  background-color: #413c38;
  position: relative;
  box-shadow: 1px -2px 14px -2px #000 inset; }
  .home-bg .jumbotron {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }
  .home-bg .jumbotron-content {
    max-width: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: white; }

.home-cards-container {
  box-shadow: 0px 7px 17px -10px #000 inset;
  background-color: #413c38; }
  .home-cards-container .card .card-text {
    min-height: 120px; }

.footer {
  background-color: #413c38; }

.role-selection-container {
  background-color: white; }

.role-selection {
  display: none; }

.about-title {
  color: red; }

.btn1 {
  align-content: center; }

.card-body {
  background-color: #DFB13F;
  align-items: center; }

.h3 {
  font-weight: bold;
  font-size: 2rem;
  color: white; }

.youth-cards-container {
  background-color: #413c38; }

.testimonial {
  color: white;
  max-width: 336px;
  margin-left: auto; }

.resources {
  color: white;
  max-width: 336px;
  height: 325px;
  margin-left: 20px;
  margin-right: auto; }

.bg {
  background-color: #413c38; }

.card1 {
  background-color: #DFB13F; }

.card2 {
  background-color: #DFB13F;
  width: auto;
  height: auto; }

.card3 {
  width: auto;
  height: 500px;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */ }

.col1 {
  margin-left: auto; }

.col2 {
  margin-right: auto; }

.h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #000000; }

.btn1 {
  align-content: center;
  font-size: 1.25rem;
  background-color: #000000;
  color: white; }

.logo {
  width: 120px;
  height: 111px; }

.p2 {
  width: 165px;
  color: white; }

.p1 {
  font-size: 1.25rem;
  color: #000000; }

.p3 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #000000; }

.link1 {
  color: black;
  font-size: 1.25rem; }

@media screen and (min-width: 768px) and (max-width: 850px) {
  .navbar .navbar-container {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .ef-nav .navbar-nav .nav-item .nav-link {
    font-size: 1rem; } }

@media screen and (min-width: 1200px) {
  .home-bg .jumbotron-fluid {
    padding-top: 315px;
    padding-bottom: 48px; }
    .home-bg .jumbotron-fluid .jumbotron-content {
      max-width: 45%; } }

@media screen and (min-width: 1400px) {
  .home-bg {
    min-height: 700px; } }

@media screen and (max-width: 768px) {
  .home-bg {
    min-height: 500px;
    background-position: 100% 5%;
    background-size: auto; }
    .home-bg .jumbotron-fluid .jumbotron-content {
      max-width: 100%; } }

@media screen and (max-height: 780px) {
  .home-bg {
    min-height: 420px; } }
