.text-gold {
  color: #ffb204 !important; }

.text-maroon {
  color: #8d2840 !important; }

.text-red {
  color: #ff003d !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-maroon {
  background-color: #8d2840; }

.asu-primary-button {
  background-color: #8d2840;
  outline: none;
  border: 1px solid #8d2840; }
  .asu-primary-button:hover {
    background-color: #cc214a;
    border: 1px solid #cc214a; }

.text-gold {
  color: #ffb204 !important; }

.text-maroon {
  color: #8d2840 !important; }

.text-red {
  color: #ff003d !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-maroon {
  background-color: #8d2840; }

.asu-primary-button {
  background-color: #8d2840;
  outline: none;
  border: 1px solid #8d2840; }
  .asu-primary-button:hover {
    background-color: #cc214a;
    border: 1px solid #cc214a; }

.ef-nav {
  background-color: #353535; }
  .ef-nav .navbar-nav .nav-item .nav-link {
    color: #ededed;
    font-size: 16px; }
  .ef-nav .navbar-nav .nav-item.active, .ef-nav .navbar-nav .nav-item:hover {
    background-color: #1f1f1f; }
    .ef-nav .navbar-nav .nav-item.active .nav-link, .ef-nav .navbar-nav .nav-item:hover .nav-link {
      color: #ffb204; }
  .ef-nav .navbar-nav .dropdown-menu {
    background-color: #1a1a1a; }
    .ef-nav .navbar-nav .dropdown-menu .dropdown-item {
      color: #ededed;
      font-size: 16px; }
      .ef-nav .navbar-nav .dropdown-menu .dropdown-item.active, .ef-nav .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: #1f1f1f;
        color: #ffb204; }
    .ef-nav .navbar-nav .dropdown-menu.show:before {
      content: '';
      display: inline-block;
      height: 0;
      width: 0;
      position: absolute;
      right: 50%;
      margin-right: -5px;
      top: -9px;
      border-color: transparent transparent #1a1a1a transparent;
      border-width: 0 10px 10px 10px;
      border-style: solid; }

.home-bg {
  background-image: url("../images/home-bg.jpg");
  background-position: 0 40%;
  background-size: cover;
  min-height: 375px; }
  .home-bg .jumbotron-content {
    max-width: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: white; }

@media screen and (min-width: 768px) and (max-width: 850px) {
  .navbar .navbar-container {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .ef-nav .navbar-nav .nav-item .nav-link {
    font-size: 12px; } }
