$break-sm: 320px;
$break-md: 768px;
$break-lg: 920px;
$break-xl: 1200px;
$break-xxl: 1441px;
@media screen and (min-width: $break-xl) {
  .home-bg {
    .jumbotron-fluid {
    }
  }
}

@media screen and (min-width: $break-xxl) {
  .home-bg {
  }
}

@media screen and (max-width: $break-lg) {
  .home-bg {
    .jumbotron-content {
      max-width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
}

@media screen and (max-width: $break-xxl) {
  .home-bg {
    min-height: 480px;

    .jumbotron-fluid {
      height: 480px;
    }
  }
}
