$break-sm: 320px;
$break-md: 768px;
$break-lg: 920px;
$break-xl: 1200px;

@media screen and (min-width: $break-xl) {
  .home-bg{
    background: url("../images/home-bg-3.jpg") 0px 24%;
    background-size: cover;
    min-height: 520px;
  }
  .ef-calendar {
    display: inline-block;
  }
}
