$nav-break-min: 768px;
$nav-break-max: 850px;

@media screen and (min-width: $nav-break-min) and (max-width: $nav-break-max) {
  .navbar .navbar-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .ef-nav .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }
}
